body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 20px;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    border-radius: 10px;
    background-color: #333333;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    color: #b493ef;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #ffffff;
    font-weight: normal;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #444444;
}

th {
    background-color: #444444;
    font-weight: bold;
}

tr:hover {
    background-color: #555555;
}

button {
    background-color: #b493ef;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d4ed31;
}

#error {
    color: #ff0000;
    margin-top: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #b493ef;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #d4ed31;
}
