<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie do Spotify</title>
    <link rel="stylesheet" href="/css/stylesLogin.css">
</head>
<body>
<div class="container">
    <div class="login-card">
        <div class="login-image">
            <img src="/assets/img/omid-armin-GIm5OV5rY0w-unsplash.jpg" alt="Spotify Image">
        </div>
        <div class="login-content">
            <h2 class="login-title">Zaloguj się do Trackify</h2>
            <p class="login-description">Twoja muzyczna historia — ulubieni artyści, gatunki i utwory na wyciągnięcie ręki</p>
            <a href="/oauth2/authorization/spotify" class="login-button">Zaloguj się przez Spotify</a>
        </div>
    </div>
</div>
</body>
</html>
